
@media (min-width: 601px) {
        #map{
                padding-top: 10%;
                width:auto;
                height: 70vh;
                display:block;
                margin:auto;
        }

        #pink{
                position: absolute;
                right: 1000px;
                top: 200px;
                cursor:pointer
        }
        #yellow{
                position: absolute;
                right: 600px;
                top: 300px;
                cursor:pointer
        }
        #blue{
                position: absolute;
                right: 800px;
                top: 200px;
                cursor:pointer
        }
        h2{
                text-align:center;
        }
}

/*スマホ用画面レイアウト*/
@media (max-width: 600px) {
        #map{
                padding-top:10%;
                width:auto;
                height: 200px;
        }
        #pink{
                position: absolute;
                right: 280px;
                top:30px;
                cursor:pointer
        }
        #yellow{
                position: absolute;
                right: 100px;
                top: 80px;
                cursor:pointer
        }
        #blue{
                position: absolute;
                right: 150px;
                top: 20px;
                cursor:pointer
        }
}
