@media (min-width: 601px) {
        #map{
                padding-top: 10%;
                width:auto;
                height: 70vh;
                display:block;
                margin:auto;
        }

        #pink{
                position: absolute;
                right: 1000px;
                top: 200px;
        }
        #yellow{
                position: absolute;
                right: 600px;
                top: 300px;
        }
        #blue{
                position: absolute;
                right: 800px;
                top: 200px;
        }
        h2{
                text-align:center;
        }
}

/*スマホ用画面レイアウト*/
@media (max-width: 600px) {
        #map{
                padding-top:10%;
                width:auto;
                height: 200px;
        }
        #pink{
                position: absolute;
                right: 300px;
                top:30px;
                width: auto;
                height: 60px;
        }
        #yellow{
                position: absolute;
                right: 130px;
                top: 80px;
                width: auto;
                height: 60px;
        }
        #blue{
                position: absolute;
                right: 190px;
                top: 30px;
                width: auto;
                height: 60px;
        }
}
