@charset "UTF-8";

/*共通部分*/
html{
    font-size: 100%;
}
body{
    line-height: 1.7;
    color: #432;
}
img{
    max-width: 80%;
}

/*レイアウト*/
.wrapper{
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}
.align-center{
    text-align: center;
}

/*ボタン*/
.btn{
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    transition: .5s;
}
.btn:hover{
    background-color: #0090aa;
}

/*見出し*/
.page-title,
.heading-large{
    font-size: 3rem;
    text-align: center;
}
.page-title{
    margin-top: 2rem;
    line-height: 1.8;
    writing-mode: vertical-rl;
    margin: 0; 

}
.heading-large{
    margin-bottom: 1rem;
}

/*ヘッダー*/
.page-heder{
    padding-top: .5rem;
    scale: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
    text-align:center;
    position: relative;
}
.logo{
    width: 210px;
}
.main-nav{
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    list-style: none;
    padding: 0;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover{
    color: rgb(63, 4, 242);
}
.cover{
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}
.cover-home{
    background-image: url("../images/back.png");
    display: flex;
}
.about{
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 3rem auto 4rem;
}
.about p{
    margin-bottom: 3rem;
}

/*フッター*/
.page-footer{
    background-image: url(../images/fot.png);
    background-size: cover;
    background-position: center;
    padding-top: 12rem;
}
.info{
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th,
.info td{
    border-bottom: 1px solid #c9c2bc
}
.info th{
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info td{
    padding: 1rem 0;
}
.copyright{
    background-color: #432;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}
/*デスクトップ版*/
@media (min-width: 800px){
    /*見出し*/
    .page-title{
        font-size: 5rem;
    }
    .heading-large{
        font-size: 4rem;
    }

    /*ヘッダー*/
    .page-header{
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }
    .main-nav{
        font-size: 2rem;
    }
    /*HOME*/
    .info th{
        padding-left: 2.5rem;
    }
}

/*スマホ用*/
@media(max-width: 799px){
    .page-header{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .main-nav{
        position: static;
        justify-content: center;
    }
    .page-title{
        margin-top: 2rem;
    }
}
    
