html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*ヘッダー*/
/*ヘッダーの写真*/
#page-header{
    background-image: url(../images/back.png);
    background-size: cover;
    background-position: center bottom;
    height: 200px;
}
/*最初のメニュー部分*/
nav{
    display: flex;
    justify-content: flex-end;/*右寄せ*/
    padding-right: 1rem; 
}
.navigation{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}
.items a{
    text-decoration: none;
    color: rgb(68, 51, 34);
}
.items a:hover{
    color: rgb(221, 37, 0);
}

/*タイトル*/
.title{
    color:black;
    line-height: 120%;
    font-size: 2rem;
    margin-top: 1rem;

}
/*メイン部分*/
#about{
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 3rem auto 4rem; /*上・左右・下の余白指定*/
}
#about p{
    margin-bottom: 3rem;
}
.btn{
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 8px; /*角を丸める*/
    padding: .75rem 1.5rem;
}
.btn:hover{
    background-color: #0090aa;
}
.align-center{
    text-align: center;
}
/*フッター*/
.info{
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th{
    text-align: left;
    padding: 1rem;
}
.info td{
    padding: 1rem 0;
}
.info th,
.info td{
    border-bottom: 1px solid #c9c2bc;
}
.page-footer{
    background-image: url(../images/fot.png);
    background-size: cover;
    background-position: center;
    padding-top: 4rem;
}
.copyright{
    background-color: #432;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}
/*スマホ版*/
@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    #page-header{
        aspect-ratio: 16 / 6;
    }
    nav{
        overflow: visible;
    }
}
